<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <classes>
      <class name="hotels24.ua.Header"/>
      <class name="hotels24.ua.Content"/>
      <class name="hotels24.ua.Footer"/>
    </classes>
  </test>  
</suite>